{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% spaceless %}
           {% if article.long_headline %}
               {{ article.long_headline }} | {% endif %}The Ubyssey
           {% endspaceless %}</title>
    <link rel="stylesheet" href="{{ STATIC_DIR }}css/main.css" type="text/css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

{% block content %}
{% endblock %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/keymaster/1.6.1/keymaster.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.1/react.min.js"></script>
<script src="{% static 'js/dist/dispatch.js' %}" type="text/javascript"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
